/* basic styles for the profile card*/
*{
    font-family:Arial, sans-serif;
    background-color: rgb(150, 180, 180);
    box-decoration-break: slice;
    line-height: 2pc;
    

}
.profile-card{
width: -500px;
box-sizing: border-box;


}